
<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %> 
<body>
    <%- include('./partials/navbar'); %> 
    <div class="container">
        <form action="/create" method="POST">
            <h1><%= title %> </h1>
            
            <div class="input-field">
                <input id="post_title" type="text" name="title">
                <label for="post_title">Post title</label>
            </div>
            <div class="input-field ">
                <textarea id="post_description" data-length="120" name="description" class="materialize-textarea"></textarea>
                <label for="post_description">Description</label>
            </div>
            <div class="input-field">
                <input type="hidden" name="date" value="<%- new Date().getTime(); %>">
            </div>
            <button type="sumbit" class="btn">Create</button>
            </form>
    </div>
    <%- include('./partials/footer'); %>
</body>
</html>

